* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font: 1em "Poppins";
    transition: all 0.5s ease-in-out;
}

body.light {
    color: #000;
}

body.dark {
    color: #fff;
}

#wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.wrapper__input {
  display: flex;
  flex-direction: row;
}

i {
  margin: 0 12px;
}

input {
    display: block;
}

footer {
    display: flex;
    flex-direction: row;

    position: absolute;
    bottom: 0;
}

footer img {
    max-width: 24px;
    width: 100%;

    margin: 0 12px;
}